@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-family: "굴림";
}

#wrap {}

.up {
    height: 650px;
    background-color: #eee;
    display: flex;
}

.side {
    width: 200px;
    height: 650px;
    background-color: #ddd;
}

.logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    display: block;
    width: 100%;
    height: 100px;
    background: url("../img/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    /* 277*100 */
}

.nav {
    width: 150px;
    margin: 30px auto 0;
}

.main {}

.main>li {}

.main>li>a {
    display: block;
    background-color: pink;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px dotted gray;
    font-weight: bold;
    transition: all 0.5s;

}

.main>li:hover>a {
    background-color: hotpink;
}

.sub {
    display: none;
}

.sub li {}

.sub li a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: pink;
    transition: all 0.5s;
}

.sub li a:hover {
    background-color: hotpink
}



.section {
    width: calc(100% - 200px);
    height: 650px;
    background-color: pink;
}

.container {
    height: 400px;
    background-color: antiquewhite;
    display: flex;
}

.viewr {
    width: calc(100% - 230px);
    height: 400px;
    overflow: hidden;
    position: relative;
}

.left_move {
    width: 300%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;

}

.left_move div {
    width: calc(100% / 3);
    height: 400px;
    float: left;
}

.left_move div a {
    display: block;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 400px;
    text-shadow: 5px 5px 25px gray;
}

.left_move div:nth-child(1) a {
    background-image: url("../img/main1.jpg");
}

.left_move div:nth-child(2) a {
    background-image: url("../img/main2.png");
}

.left_move div:nth-child(3) a {
    background-image: url("../img/main3.jpg");
}

.banner {
    width: 230px;
    height: 400px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner_inner {
    width: 80%;
    height: 90%;

}

.banner_inner .b_1 {
    text-align: center;
    display: block;
}

.banner_inner h3{
    font-size: 13px;
    margin-top: 10px;
}
.banner_inner p{
    font-size: 12px;
    margin: 10px 0;
    line-height: 1.4;
    text-align: justify;
}
.banner_inner .btn{
    text-align: right;
    display: block;
}






.contents {
    height: 250px;
    background-color: burlywood;
    display: flex;
}

.notiece{
    width: 50%;
    height: 250px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noti_inner{
    width: 95%;
    height: 90%; 
    /* border: 1px solid; */
    position: relative;
}
.noti_inner h2{
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    width: 150px;
    text-align: center;
    border: 1px solid gray;
    background: white;
    border-bottom-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.noti_inner ul{
    position: absolute;
    top: 34px;
    width: 100%;
    height: calc(100% - 34px);
    background-color: white;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    
}
.noti_inner ul li{
    display: flex;
    border-bottom: 1px dotted gray;
}
.noti_inner ul li a{
    flex: 8;    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
 }
.noti_inner ul li span{ 
    flex: 2;
    text-align: center;
}


.galleray{
    width: 50%;
    height: 250px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gall_inner{
    width: 95%;
    height: 90%;
    /* border: 1px solid; */
    position: relative;
}
.gall_inner h2{
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    width: 150px;
    text-align: center;
    border: 1px solid gray;
    background: white;
    border-bottom-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.gall_inner ul{
    position: absolute;
    top: 34px;
    width: 100%;
    height: calc(100% - 34px);
    background-color: white;
    border-top: 1px solid gray;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}
.gall_inner ul li{
    text-align: center;
    max-width: 180px;
    width: auto;
}
.gall_inner ul li a{}
.gall_inner ul li a img{
    width: 80%;
}
.gall_inner ul li a span{
    font-size: 14px;
    font-weight: 600;
}
.footer {
    height: 100px;
    background-color: #aaa;
    display: flex;
}
.f_logo{
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_logo img{
    width: 90%;
    filter: grayscale();
}

.f_lorme{
    height: 100px;
    width: calc(100% - 200px - 230px);
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-align: justify;
}
.family{
    height: 100px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.family #family{
    width: 200px;
    height: 50px;
    text-align: center;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;top: 0;
    z-index: 100;
}

.pop{
    width: 600px;
    height: 600px;
    background-color: white;
    border: 10px groove hotpink;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: 101;
    padding: 30px;
    text-align: center;
}


.pop h3{
    font-size: 20px;
    line-height: 50px;
    border: 5px double hotpink;
    margin-bottom: 20px;
}
.pop p{
    line-height: 2;
    margin-top: 20px;
}
.pop .close{
    position: absolute;
    right: 20px;bottom: 20px;
    padding: 10px 20px;
    cursor: pointer;
}





